.pokecard {
    border-radius: 50%;
    width: 15%;
    margin-bottom: 17px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pokecard p {
    text-transform: capitalize;
    font-size: 13px;
    border-radius: 50%;
}